.inner{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 2rem;
  justify-items: center;
}

.inner h2{
  text-align: center;
}
.skills {
  color: var(--text-color);
  padding: 5rem 4rem 1rem 4rem;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    justify-items: center;
    gap: 1rem;
  }
}

.skillsList {
  list-style: none;
  padding: 1rem;
  margin: 0.5rem auto;
  width: 100%;
  background: transparent;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.11);
  font-size: 1.15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid #fff;
}

.skillsList li {
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0 0.5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, background 0.2s ease;
}
.skillsList li:hover {
  background: rgba(106, 106, 106, 0.2);
  backdrop-filter: blur(2px);
  transform: scale(1.1);
}


.icon {
  font-size: 1.45em;
  margin-right: 18px;
  color: #64ffda;
  filter: drop-shadow(0 2px 6px #64ffda33);
}


@media (max-width: 768px) {
  .skills{padding: 6rem 1rem 1rem 1rem;}
  .skillsList {width: 80%}
  .skillsList {
    padding: 18px 10px 18px 10px;
    font-size: 1em;
  }
  .icon {
    font-size: 1.15em;
    margin-right: 12px;
  }
  .inner{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-items: center;
  }
}
