.about {
  color: var(--text-color);
  padding: 6rem 4rem 1rem 4rem;
  width: 100%;
  height: auto;
}

.highlights {
  display: grid;
  gap: 1rem;
  margin: 2rem 0;
}

.highlight {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  background: var(--highlight-bg);
  border-radius: 8px;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  border: 2px solid transparent;
}
p {
  transition: color 0.3s ease;
}

.highlight:hover {
  transform: translateX(10px);
  background: var(--highlight-hover);
  backdrop-filter: blur(2px);
  border-color: var(--accent-color);
  p {
    color: var(--accent-color);
  }
}

.icon {
  font-size: 2rem;
  flex-shrink: 0;
}

.inner{
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  align-items: center;
}

.pic {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.wrapper {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 4px;
  background-color: var(--text-color);
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wrapper:hover,
.wrapper:focus {
  outline: 0;
  transform: translate(-4px, -4px);
}

.wrapper:hover::after,
.wrapper:focus::after {
  transform: translate(8px, 8px);
  border-color: var(--accent-color);
}


.img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Зеленая рамка сзади */
.wrapper::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 2px solid var(--text-color);
  top: 14px;
  left: 14px;
  z-index: -1;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (max-width: 992px) {
  .pic {
    margin: 0.5rem auto 0.5rem;
    width: 60%;
    min-width: 200px;
    padding: 1rem;
  }

  .about{
    padding: 4rem 2rem 1rem 2rem;
  }

  .inner {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .about {padding: 6rem 1rem 1rem 1rem;}
  .wrapper:hover,
  .wrapper:focus {}

  .wrapper:hover::after,
  .wrapper:focus::after {}
}
