.head{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  transition: color 0.3s ease;
}

h1{
  font-weight: 100;
}

.foot{
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  color: var(--muted-text-color)
}

.headIcon{
  height: 3rem;
  width: auto;
  display: inline-block;
  stroke: var(--text-color);
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  transition: all 0.3s ease;
}


.footIcon{
  display: inline-block;
  height: 2rem;
  width: auto;
  transition: transform 0.3s ease;
  fill: var(--text-color);
}

svg{
  fill: var(--text-color);
}
.footIcon:active{
  transform: scale(1.1);
}

.imageWrapper{
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-left: auto;
}
.cardWrapper{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  border-radius: 8px;
  transition: all 0.3s ease;
}
.cardWrapper:hover{
  backdrop-filter: blur(2px);
}

.card{
  will-change: backdrop-filter;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 1rem;
  background: var(--highlight-bg);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
}

.card:active{
  transform: scale(1.1);
}
.card:hover{
  background: rgba(106, 106, 106, 0.2);
  transform: scale(1.05);
  border-color: var(--accent-color);
  .headIcon{stroke: var(--accent-color);}
  .head{color: var(--accent-color);}
}

.card:focus{
  border-color: var(--accent-color);
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fadeIn {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.6s ease forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 992px) {
  .card{margin: 0.5rem auto;}
}

@media (max-width: 768px) {
  .card:hover{transform: scale(1.03);}
}
