.head{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.foot{
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.headIcon{
  height: 3rem;
  width: auto;
}
.footIcon{
  height: 2rem;
  width: auto;
}

.imageWrapper{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-left: auto;
}

.card{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, background 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card:hover{
  background: rgba(106, 106, 106, 0.2);
  backdrop-filter: blur(2px);
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .card{margin: 0.5rem auto;}
}

@media (max-width: 768px) {
  .card:hover{transform: scale(1.03);}
}
