.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  color: var(--text-color);
  background: var(--bg-nav);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  padding: 0 5rem;
  z-index: 10;
}

.container{
  display: flex;
}

.nav {
  display: flex;
  margin-left:auto;
  align-items: center;
  gap: 1rem;
}

.menuIcon{
  fill: var(--text-color);
  width: 60px;
  height: 60px;
  transition: transform 0.2s ease;
}

.menuIcon:hover{
  transform: scale(1.05);
}

.menuIcon:active{
  transform: scale(1.1);
}

.iconsWrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
}

.logo {
  fill: var(--text-color);
  width: 80px;
  height: 80px;
  transition: transform 0.2s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.link {
  position: relative;
  flex-wrap: nowrap;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--text-color);
  transition: width 0.3s;
}

.link:hover::after {
  width: 100%;
}
.link:focus {
  outline: 2px dotted #64ffda; /* пунктирная обводка */
  outline-offset: 2px;         /* отступ от элемента (опционально) */
}

.navHelper{
  display: flex;
  justify-items: center;
  flex-direction: column;
  width: 100%;
}

.fadeOut {
  opacity: 1;
  transform: translateY(0);
  animation: fadeOut 0.6s ease forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fadeIn {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.6s ease forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .nav {
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .navbar {
    flex-direction: column;
    padding: 0 1rem;
    height: auto;
  }
  .logo{
    width: 70px;
    height: 70px;
    margin-right: auto;
  }
  .menuIcon{
    margin-left: auto;

  }
  .link{margin-left: auto}

}
