.mapbox {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  border: 1px solid hsl(0, 0%, 22%);
  overflow: hidden;
}

.mapbox figure { height: 100%; }

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(1) invert(1) contrast(1.8) brightness(0.8);
}

@media (max-width: 992px) {
  .mapbox{
    margin:0;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .mapbox{
    height: 200px;
  }
}
