.modal {
  width: 100%;
  height: auto;
  border-radius: 8px;
  padding: 1rem;
  background: rgba(106, 106, 106, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.closeButton {
  margin-left: auto;
  font-family: Arial, sans-serif;
  font-size: 40px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
  padding: 0;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton:focus {
  outline: 2px dotted #64ffda; /* пунктирная обводка */
  outline-offset: 2px;         /* отступ от элемента (опционально) */
}

.description{
  margin: 1rem 0;
}

.image{
  object-fit: contain;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 70vh;
}

/* В ProjectModal.module.css */
.modal :global(.swiper) {
  margin-left: 0 !important;
  min-height: 0;
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.modal :global(.swiper-slide) {

}
/* ProjectModal.module.css */
.modal :global(.swiper-button-next),
.modal :global(.swiper-button-prev) {
  color: #64ffda;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.modal :global(.swiper-button-next):hover,
.modal :global(.swiper-button-prev):hover {
  transform: scale(1.05);
}

.modal :global(.swiper-button-next):active,
.modal :global(.swiper-button-prev):active {
  transform: scale(1.01);
}

.modal ul{
  list-style: none;
  padding: 1rem;
  width: 100%;
  background: transparent;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.11);
  font-size: 1.15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal li{
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0 0.5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, background 0.3s ease;
}

.modal li:hover{
  background: rgba(106, 106, 106, 0.2);
  backdrop-filter: blur(2px);
  transform: translateY(-10px);
}

@media (max-width: 762px) {
  .modal li:hover{transform: translateY(-5px);}
}
