.modal {
  width: 100%;
  height: auto;
  border-radius: 8px;
  padding: 1rem;
  background: rgba(106, 106, 106, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.closeButton {
  margin-left: auto;
  font-family: Arial, sans-serif;
  font-size: 40px;
  color: var(--text-color);
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
  padding: 0;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.closeButton:hover {
  transform: scale(1.05);
}
.closeButton:active {
  transform: scale(1.1);
}

.description{
  margin: 1rem 0;
}

.image{
  object-fit: contain;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 70vh;
}

/* Ð’ ProjectModal.module.css */
.modal :global(.swiper) {
  margin-left: 0 !important;
  min-height: 0;
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.modal :global(.swiper-slide) {

}
/* ProjectModal.module.css */
.modal :global(.swiper-button-next),
.modal :global(.swiper-button-prev) {
  color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.modal :global(.swiper-button-next):hover,
.modal :global(.swiper-button-prev):hover {
  transform: scale(1.05);
}

.modal :global(.swiper-button-next):active,
.modal :global(.swiper-button-prev):active {
  transform: scale(1.01);
}

.modal ul{
  list-style: none;
  padding: 1rem;
  width: 100%;
  background: transparent;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.11);
  font-size: 1.15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0 1rem 0;
}

.modal li{
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0 0.5rem;
  border-radius: 8px;
  background: var(--highlight-bg);
  transition: transform 0.3s ease, background 0.3s ease;
}

.modal li:hover{
  background: rgba(106, 106, 106, 0.2);
  backdrop-filter: blur(2px);
  transform: translateY(-10px);
}

.foot{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left:auto;
  gap: 1rem;
  width: auto;
}
.footIcon{
  height: 48px;
  width: auto;
  transition: transform 0.3s ease;
}
.footIcon:active{
  transform: scale(1.1);
}

.footIcon svg{
  fill: var(--text-color) !important;
}
.backButton{
  color: var(--muted-text-color);
  width: auto;
  height: 48px;
  text-align: center;
  background: var(--text-color);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.backButton:hover{
  transform: scale(1.05);
}

.backButton:active{
  transform: scale(1.1);
}

.fadeOut {
  opacity: 1;
  transform: translateY(0);
  animation: fadeOut 0.6s ease forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fadeIn {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.6s ease forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 762px) {
  .modal li:hover{transform: translateY(-5px);}
}
