
.icon{
  height: 100px;
  width: auto;
  padding: 0;
  margin: 0 2rem;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  overflow: hidden;  /* ← ВАЖНО */
  margin: 1.5rem 0;
  background: transparent;
}

.marquee {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    margin: 1rem 0;
  }

  .icon{
    height: 50px;
    margin: 0 1rem;
  }
}
