@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600&display=swap');

body {
  font-family: DejaVu Sans Mono, monospace;
}
html{
  font-size: 24px;
  scroll-behavior: smooth;
}

.light-theme{
  --bg-color: #fff;
  --text-color: #000;
  --canvas: #000;
  --bg-nav: rgba(175, 175, 175, 0.5);
}

.dark-theme{
  --bg-color: #000;
  --text-color: #fff;
  --canvas: #fff;
  --bg-nav: rgba(37, 37, 37, 0.3);
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  position: absolute;
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
  --border-radius: 10px;
}

html {
  font-size: 24px;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: none;
}
@media (max-width: 767.98px) {
  html { font-size: 16px; }
}
